.hero {
  height: 100vh;
  background-image: url("https://www.bu.edu/admissions/files/2018/07/17-1937-TGIVING-002-cropped-1680x945.jpg");
  background-size:contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  text-align: center;
  color: white;
}

.title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  background-color: red;
  padding: 12px 25px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}
